<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <!-- 1 -->
    <link title="timeline-styles" rel="stylesheet" href="https://cdn.knightlab.com/libs/timeline3/latest/css/timeline.css">
    <!-- 2 -->
    <script src="emojify.js"></script>

    <!-- Always force latest IE rendering engine or request Chrome Frame -->
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width">

    <!-- FIXME -->
    <meta property="og:title" content="Pepper | Your personal assistant" />
    <meta property="og:description" content="Pepper helps you achieve your daily goals" />
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="Hello Pepper" />
    <meta property="og:url" content="/" />
    <meta property="og:image" content="images/logo-pam.gif" />

    <meta property="fb:admins" content="618976068" />
    <meta property="fb:admins" content="1575189552" />

    <link rel="icon" type="image/png" href="images/favicon-pam.gif" />

    <!-- Use title if it's in the page YAML frontmatter -->
    <title>Pepper | Your personal assistant</title>
    <link href="stylesheets/application-b7fa503f.css" rel="stylesheet" async="true" />
    <script src="https://cdn.knightlab.com/libs/timeline3/latest/js/timeline.js"></script>

  </head>
  <body>
    {{{body}}}
  </body>
</html>
